@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	/* 解决IOS默认滑动很卡的情况 */
	-webkit-overflow-scrolling : touch; 
}

/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
	resize: none;
	border: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 图片自适应 */
img {
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	display: block;
	-ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;
	color: #555;
	background-color: #F7F7F7;
}
em, i {
	font-style: normal;
}
ul,li{
	list-style-type: none;
}
strong {
	font-weight: normal;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a {
	text-decoration: none;
	color: #969696;
	font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-family: 'Microsoft YaHei';
}
img {
	border: none;
}
input{
	font-family: 'Microsoft YaHei';
}
.w50{
	width: 50%;
}
.w25{
	width: 25%;
}
.w20{
	width: 20%;
}
.w33{
	width: 33.333333%;
}
.mt_46{
	margin-top: 46px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.db{
	display: block !important;
}
.dn{
	display: none;
}
/*单行溢出*/
.one_txt_cut{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt_cut{
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}



/*
为了京东快报添加的一个过渡类
 */
.transition-all{
	transition: all .5s;
}

/*屏幕最大值和最小值限定*/
html,body{
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
}


/*
公共的调用精灵图的类，用伪元素的写法
因为使用的是320的屏幕，所以将背景缩放一半
 */
.jd_sprites:before{
	content: "";
	background: url(../images/icons/jd-sprites.png) 0 0 no-repeat;
	background-size: 200px 200px;
	display: inline-block;
}
/*
让一个盒子进行垂直和水平居中的公共样式
*/
.jd_center_all,.jd_center_a:before{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkt-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.jd_center_y,.jd_cent_y:before{
	position: absolute;
	top: 50%;
	left: 0;
	-webkt-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*让一个盒子垂直居中*/


/*复选框按钮结束*/
.check_list{
	width: 40px;
	height:32px;
	position: relative;
}
.check_list .checkbox{
	width: 100%;
	height: 100%;
}

.check_list input{
	width: 40px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}
.check_list  .checkbox_pos:before{
	width: 20px;
	height: 20px;
	background-position: -180px -69px;
}
.check-list .checked_pos:before{
	width: 20px;
	height: 20px;
	background-position: -180px -89px;
}
/*复选框按钮结束*/















